<a href="https://colab.research.google.com/github/Lokesh-ramesh/Machine-Learning/blob/main/Lab2-enjoysport%2Csecond_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First data set execution

In [2]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
path="/content/drive/MyDrive/ML Lab/Lab 2/enjoysport.csv"

In [8]:
data=pd.read_csv(path)

In [10]:
print(data,"\n")

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        Yes
1  Sunny    Warm     High  Strong  Warm     Same        Yes
2  Rainy    Cold     High  Strong  Warm   Change         No
3  Sunny    Warm     High  Strong  Cool   Change        Yes

In [12]:
d=np.array(data)[:,:-1]
print("attributes are:",d)

attributes are: [['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
 ['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
 ['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
 ['Sunny' 'Warm' 'High' 'Strong' 'Cool' 'Change']]

In [14]:
target=np.array(data)[:,-1]
print("target is:",target)

target is: ['Yes' 'Yes' 'No' 'Yes']

In [19]:
def findS(c,t):
    for i,val in enumerate(t):
      if val=="Yes":
        specific_hypothesis=c[i].copy()
        break
    for i,val in enumerate(c):
      if t[i]=="Yes":
        for x in range (len(specific_hypothesis)):
          if val[x]!=specific_hypothesis[x]:
            specific_hypothesis[x]='?'
          else:
              pass
    return specific_hypothesis
print("/n final hypothesis is",findS(d,target))

/n final hypothesis is ['Sunny' 'Warm' '?' 'Strong' '?' '?']

Second dataset execution-

In [21]:
import pandas as pd
import numpy as np

In [37]:
path="/content/drive/MyDrive/ML Lab/Lab 2/seconddataset.csv"

In [25]:
data=pd.read_csv(path)

In [27]:
print(data,"\n")

   example citations    size inLibrary       price editions  buy
0        1      some   small        no  affordable     many   no
1        2      many     big        no   expensive      one  yes
2        3      some     big    always   expensive      few   no
3        4      many  medium        no   expensive     many  yes
4        5      many   small        no  affordable     many  yes

In [29]:
d=np.array(data)[:,:-1]
print("attributes are:",d)

attributes are: [[1 'some' 'small' 'no' 'affordable' 'many']
 [2 'many' 'big' 'no' 'expensive' 'one']
 [3 'some' 'big' 'always' 'expensive' 'few']
 [4 'many' 'medium' 'no' 'expensive' 'many']
 [5 'many' 'small' 'no' 'affordable' 'many']]

In [32]:
target=np.array(data)[:,-1]
print("target is:",target)

target is: ['no' 'yes' 'no' 'yes' 'yes']